@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
ul,li{list-style: none;}
html,body{
    background: white;
    color: #333;
    width: 100%;
    height: 100%;
}
img{
    vertical-align: top;
    max-width: 100%;
}
table{
    border-collapse:collapse;
}
button{cursor: pointer;}


#wrap{
    width: 100%;
    height: 100%;
    /* 퍼센트는 부모상속. 자녀에게 물려줄 수 있음. */
}
.top{
    width: 100%;
    height: calc(100% - 120px);
    /* background-color: #dad7d7; */
    display: flex;
}
.header{
    width: 200px;
    height: 100%;
    background-color: #e4d7d7;
}
.nav{
    width: 180px;
    padding: 10px 0;
    margin: 10px auto 20px;
    border-top: 1px dotted #333;
}

.logo{}

.logo a{}

.main{

}
.main > li{
    margin-bottom: 5px;
}
.main > li > a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 10px 10px 0 0;
}
.main > li:hover > a{
    background-color: rgb(226, 101, 101);
    color: #333;
}

.sub{
    display: none;
    /* 밑으로 떨어져서 포지션 뜯지 않음 */
}
.sub li{}
.sub li a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: brown;
    color: white;
}
.sub li a:hover{
    background-color: #a7a0a0;
}

.spot_menu{
    text-align: center;
}
.spot_menu a{
    display: inline-block;
    padding: 0 5px;
    border-left: 1px solid #000;
}
.spot_menu a:first-child{
    border: none;
}
.spot_menu a:hover{
    text-decoration: underline;
    color: #222;
}

.section{
    width: 400px;
    height: 100%;
    background-color: #d1caca;
    display: flex;
    flex-direction: column;
}
/* h값을 플렉스 비율로 갈때는 1 3 4 2 */
.banner{
    /* height: 20%; */
    flex: 1;
    background-color: #a7a0a0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_inner{
    width: 98%;
    height: 98%;    
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.b_1{
    /* flex: 3; */
    width: 25%;
    text-align: center;
    margin-right: 5px;
    border: 1px solid black;
}
.b_txt{
    /* flex: 5; */
    width: 55%;
    border: 1px solid black;
}
.b_txt h3{
    font-size: 13px;
    margin-bottom: 5px;
    border: 1px solid black;
}
.b_txt p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid black;
}
.b_3{
    /* flex: 1; */
    width: 20%;
    text-align: center;
    border: 1px solid black;
}

.notice{
    /* height: 30%; */
    flex: 3;
    background-color: #a08f8f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noti_inner{
    width: 98%;
    height: 98%;
    border: 1px solid black;
    padding: 20px;

}
.noti_inner h2{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
}
.noti_inner ul{
    border-top: 3px solid red ;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.noti_inner ul li{
    line-height: 40px;
    display: flex;
    border-bottom: 1px dotted #ddd;
    justify-content: space-between;
}
.noti_inner ul li a{
    width: 75%;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.noti_inner ul li span{
    text-align: right;
}



.gallery{
    /* height: 30%; */
    flex: 3;
    background-color: #b8a2a2;
}
.gall_inner{
    width: 98%;
    height: 98%;
    border: 1px solid black;
    padding: 20px;
}
.gall_inner h2{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
}
.gall_inner ul{
    display: flex;
    border-top: 3px solid red ;
    padding: 20px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
/* .gall_inner ul li{} */
/* .gall_inner ul li a{} */
.gall_inner ul img{}
.gall_inner ul span{
    display: block;
    margin-top: 10px;
}


.link{
    /* height: 20%; */
    flex: 2;
    /* background-color: #a7a0a0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.link ul{
    width: 98%;
    height: 98%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 5px;

}
.link ul li{
    width: 20%;
}
.link ul li img{
    width: 90%;
}
.link ul li span{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.img_slide{
    width: calc(100% - 200px - 400px);
    height: 100%;
    background-color: #f7eded;
    position: relative;
    overflow: hidden;
}
.left_move{
    position: absolute;
    left: 0; top: 0;
    width: 300%;
    height: 100%;
}
.left_move li{
    width: calc(100% / 3);
    /* width: 100%; */
    height: 100%;
    float: left;
    /* 이미지들을 옆으로 나란히 보내기........... */
}
.left_move li a{
    display: block;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
.left_move li:nth-child(1) a{
    background-image: url(../img/slide1.jpg);
}
.left_move li:nth-child(2) a{
    background-image: url(../img/slide2.jpg);
}
.left_move li:nth-child(3) a{
    background-image: url(../img/slide3.jpg);
}


.footer{
    width: 100%;
    height: 120px;
    background-color: #f1f1f1;
    display: flex;
}
.f_logo{
    width: 200px;
    height: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f_logo img{
    width: 70%;
    filter: grayscale();
    opacity: .5;
}
.f_right{
    width: calc(100% - 200px);
    /* background-color: #ccc; */
    height: 100%;
}
.f_r_up{
    height: 50%;
    display: flex;
    align-items: center;
}
.f_r_up a{
    border-right:  1px solid black;
}
.f_r_up a:last-child{ border: none;}

.f_r_up a

.f_r_up a{
    padding: 0 10px 0 10px;
}
.f_r_down{
    height: 50%;
}
.f_r_down span{
    display: block;
    line-height: 30px;
    padding-left: 10px;
}

.modal{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}
.pop{
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 10px solid black;
    padding: 20px;
    text-align: center;
    display: none;
}
.pop h3{
    margin-bottom: 10px;
}
.pop p{
    line-height: 2;
}
.pop .close{
    position: absolute;
    bottom: 20px; right: 20px;
    padding: 5px 10px;
}